.product-page {
  /* sizing */
  padding: 1em;
  margin-left: 5em;
  margin-right: 12rem;
  /* display */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1em;
  overflow: scroll;
  /* styling */
  border-radius: 1em;
  box-shadow: 0 0.2em 0.1em rgba(0, 0, 0, 0.167);
}
