.navbar {
  /* sizing */
  min-width: 100%;
  min-height: 5em;
  height: 10%;
  padding: 0 2em;
  /* display */
  display: grid;
  grid-template-columns: auto 1fr 1fr;
  align-items: center;
  /* justify-content: flex-start; */
  /* styling */
  background-color: #2d523b;
}

/* I like the offset look the below styling gives the header. At first I had this all centered
   but I found it a bit boring, and though it's more interesting like this */

#shop-logo {
  /* sizing */
  width: 3em;
  height: 3em;
  /* styling */
  border-radius: 100%;
}

#navbar-heading {
  color: white;
  justify-self: center;
}

#link-container {
  /* sizing */
  font-size: 1.5em;
  /* display */
  display: flex;
  gap: 2em;
  margin-left: 25rem;
}

/* styling the links */
#link-container > a {
  color: white;
  transition: all 0.05s ease;
}

#link-container > a:hover {
  color: #ffffffc6;
}

#link-container > a:active {
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.3), 2px 2px 2px rgba(0, 0, 0, 0.5);
  transform: translateY(2px);
}
